@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Roboto);

$skyblue	: #79d5f5;
$gray		: #545454;
$faintgray	: #f9f9f9;
$lightgray	: #a5a5a5;
$white  	: #ffffff;
$trans		: transparent;


$arbutus	: 'Arbutus Slab', serif;
$roboto		: 'Roboto', sans-serif;