@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 93.75%;
  line-height: 1.6em;
}

/* line 5, ../components/sass/_base.scss */
body {
  background: #f9f9f9;
}

/* line 9, ../components/sass/_base.scss */
p {
  margin: 0 0 15px 0;
  color: #545454;
}

/* line 14, ../components/sass/_base.scss */
#frost h2 {
  background: url("../../images/headers/frost-bank-logo.gif") bottom left no-repeat;
}

/* line 15, ../components/sass/_base.scss */
#shiner h2 {
  background: url("../../images/headers/shiner-logo.gif") bottom left no-repeat;
}

/* line 16, ../components/sass/_base.scss */
#whataburger h2 {
  background: url("../../images/headers/whataburger-logo.gif") bottom left no-repeat;
}

/* line 17, ../components/sass/_base.scss */
#costadelmar h2 {
  background: url("../../images/headers/costa-del-mar-logo.gif") bottom left no-repeat;
}

/* line 18, ../components/sass/_base.scss */
#morestuff h2 {
  background: url("../../images/headers/more-stuff.gif") bottom left no-repeat;
}

/* line 20, ../components/sass/_base.scss */
.myButton {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  font-family: "Roboto", sans-serif;
  background-color: #79d6f5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 20px;
  text-decoration: none;
  margin: 0 0 30px 0;
}

/*

.body {
	@include susy-breakpoint (30em, 8) {
		background: #ccc;
	}
}
*/
@media (min-width: 320px) {
  /* line 25, ../components/sass/_layout.scss */
  body {
    content: 'between 30 and 40ems';
  }
}

/*


// phone layout -------------------------------------------------
@include breakpoint($phone){
	header {
		text-align: center;
	
		.logo {
		width: 40%;
		max-width: 240px;
		margin: 20px auto 10px auto;
		}
		
		.nav {
		background: $skyblue;
		text-align: center;
		padding-top: 10px;
		
		
		ul {
		@include horizontal-list;
		display: inline-block;
	
	
		li a {
			font-family: $roboto;
			color:$white;
			text-decoration: none;
			text-transform: uppercase; 
			font-size: 16px;
			padding: 0 0 0 6px;
			line-height: 0px;
			}
		}
		}	
	}
	
	.container {
		padding: 0% 8% 0% 8% ;
	}
	
	section:not(:last-of-type) {
		border-bottom: 1px dashed $lightgray;
		margin: 0 0 20px 0;		
	}
	
	
	h2 {
		color: $skyblue;
		margin: 25px 0 12px 0;
		height:44px;
		width:142px;
		overflow: hidden;
		text-indent: -9000px;
		cursor: pointer;
	}
	
	footer {
	  padding: 4%;
	  background: $skyblue;
	  text-align: center;
	
	  ul.social {
	      @include horizontal-list;
	      display: inline-block;
	
	      li a {
	         color: white;
	      }       
	  }
	
	  .copyright {
	    padding: 2% 4%;
	    font-family: $arbutus;
	    font-size: small;
	    color: $white;
	  }
	}
	
	.scrollToTop{
		@include opacity(0.4);
		color: $gray;
		text-decoration: none;
		position:fixed;
		bottom:20px;
		right:20px;
		display:none;
	}
	.scrollToTop:hover{
		text-decoration:none;
	}
	
}

//$girlcar:500px;
//$carguys:600px;
//$twennis:700px;

// girlcar layout -------------------------------------------------
@include susy-breakpoint($girlcar){
body {
  background: #000 url('../../images/bgs/girlcar.jpg') center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
	
	section {
		border-bottom: none;
	}
	
	.scrollToTop, header, .container, footer { display: none;}
		
}	

// carguys layout -------------------------------------------------
@include susy-breakpoint($carguys){
body {
  background: #000 url('../../images/bgs/carguys.jpg') center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

}

// twennis layout -------------------------------------------------
@include susy-breakpoint($twennis){
body {
  background: #000 url('../../images/bgs/twennis.jpg') center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
}


// desktop layout -------------------------------------------------
@include susy-breakpoint($desktop){
	body{
		@include container(95%);
		background: $faintgray;
	}
	
	header, .container { display: block;}
	
	// Frame --------------------------------------
	#top, #bottom, #left, #right {
		background: $skyblue;
		position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
	}
	#left { left: 0; }
	#right { right: 0; }
			
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
	}
	#top { top: 0; }
	#bottom { bottom: 0; }
	
	// Header --------------------------------
	header {
		float: left;
		position: absolute;
		top: 30px;
		left: 30px;
		
		.logo {
		width: 80%;
		max-width: 140px;
		margin: 0;
		}
		
		.nav {
		background: $trans;
		text-align: left;
		padding: 0;
		
		ul {
		@include horizontal-list;
		display: inline-block;	
	
		li a {
			font-family: $roboto;
			color:$skyblue;
			text-decoration: none;
			text-transform: uppercase; 
			font-size: 14px;
			padding: 0 0 0 6px;
			line-height: 0px;
			}
		}
		}

	}
	
	.container {
	  @include vertical-align;
	}
	h2 {
		margin: 0 auto 13px auto
	}
	
	section {
		@include span(4);	
		text-align: center;
		border-bottom: none!important;
	}
	
	section:not(:first-of-type) {
		border-left: 1px dashed $lightgray;
	}
	
	section:nth-child(4)
	{
		border-left: none;

	}
	
	footer {
	 	display: block;
	 	padding: 0;
	 	background: $trans;
	 	position: fixed;
	 	float: right;
	 	bottom: 26px;
	 	right: 37px;
	
	  ul.social {
	      @include horizontal-list;
	      padding: 0;
	      //display: inline-block;
	
	      li a {
	         color: $skyblue;
	      }       
	  }
	
	  .copyright {
	    display: none;
	  }
	}
			
}	
*/

/*# sourceMappingURL=style.css.map */
